<!DOCTYPE html>
<html>
<head>
<title>Welcome to Codebudyy</title>

<link rel="stylesheet" type="text/css" href="./css/styles.css" />
</head>
<body>
    

	<div class="navigation">
  
		<a class="button" href="login.ejs">
		  <img src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg">
		<div class="edit">VIEW PROFILE</div>
	
	  </a>
	  <button class="logout" href=><a href="">LOGOUT</a></button>
	</div>
	<form >
<div class="maincontent" >
	<div class="dropdown" style="margin-bottom: 10px;">
		<button class="dropbtn">SORT</button>
		<div class="dropdown-content">
		<a href="#">Newer queries</a>
		<a href="#">Older queries</a>
		</div>
	  </div>
	  <div class="dropdown" style="margin-bottom: 10px;">
		<button class="dropbtn">TAGS</button>
		<div class="dropdown-content">
		<a href="#">Web developement </a>
		<a href="#">Python</a>
		<a href="#">Java</a>
		</div>
	  </div>
<!--<button type="submit" style="margin-bottom: 10px;">SUBMIT</button>-->
	  </form>
	  <div class="query" >
		  <button class="newquery"><a href="#">ASK A QUESTION</a></button>
	  </div>
	 
	</div>
</body>
</html>