<!DOCTYPE html>
<html>

<head>
	<title>Welcome to Codebudyy</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/styles.css" />
</head>

<body>


	<!-- <div class="navigation">

		<a class="button" href="login.ejs">
			<img
				src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg">
			<div class="edit">VIEW PROFILE</div>

		</a>
		<button class="logout" href=><a href="">LOGOUT</a></button>
	</div> -->

	<div class="maincontent">
		<div class=" dropdown" style="margin-bottom: 10px;  margin-right:10px">
			<button class="dropbtn">SORT</button>
			<div class="dropdown-content">
				<a href="#">Newer queries</a>
				<a href="#">Older queries</a>
			</div>
		</div>
		<div style="margin-bottom: 10px; margin-right:10px ">
			<label for="tag" style="text-align: left; font-weight: bold">TAG:</label><br>
			<input placeholder="Enter tag to search">
		</div>


		<button class="dropbtn"><a href="/newquery">ASK A QUESTION</a></button>


	</div>
	<div>
		<% for (var i=0;i<allquery.length;i++){%>
			<br /><br />
			<%=allquery[i].tag %><br />
				<div onclick="callsinglequery('<%=allquery[i]._id%>')">
					<%=allquery[i].question%>
				</div>
				<%}%>
	</div>

	</div>

	<script>
		async function callsinglequery(i) {
			// console.log("called", i)
			localStorage.setItem("question", i);
			location.assign(`/allquery?id=${i}`)

		}
	</script>
</body>

</html>