<!DOCTYPE html>
<html>
<head>
<title>Welcome to Codebudyy</title>
<link rel="stylesheet" type="text/css" href="./css/styles.css" />
</head>
<body>
    

	<div class="navigation">
  
		<a class="button" href="login.ejs">
		  <img src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg">
		<div class="edit">EDIT PROFILE</div>
	
	  </a>
	  <div class="logout" href=><a href="login.ejs">LOGOUT</a></div>
	</div>
<div class="maincontent">
	<div class="dropdown">
		<button class="dropbtn">SORT</button>
		<div class="dropdown-content">
		<a href="#">Newer queries</a>
		<a href="#">Popular queries</a>
		<a href="#">Older queries</a>
		</div>
	  </div>
	  <div class="dropdown">
		<button class="dropbtn">TAGS</button>
		<div class="dropdown-content">
		<a href="#">HTML</a>
		<a href="#">Web Development</a>
		<a href="#">Competitive Coding</a>
		<a href="#">Python</a>
		</div>
	  </div>
	  <div class="query">
		  <button class="newquery"><a href="#">ASK A QUESTION</a></button>
	  </div>
	  <form >
		<input type="text" name="search" placeholder="Search..">
		<button type="submit">SUBMIT</button>
	  </form>
	</div>
</body>
</html>