<!DOCTYPE html>
<html>

<head>
  <title>Code Buddy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/styles.css" />
</head>

<body>
  <div class="container ">
    <div class="d-flex justify-content-center">
      <form>
        <label for="comment">Comment:</label>
        <input type="text" id="comment" name="comment" placeholder="Add your comment here"><br>
        <button type="submit">SUBMIT</button>
      </form>
    </div>
  </div>
</body>

</html>