<!DOCTYPE html>
<html>

<head>
  <title>Code Buddy</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/styles.css" />
</head>

<body style="margin-top: 3%;">
  <div class="container ">

    <div>
      <%=singlequery.tag %><br />
        <%=singlequery.question%>
    </div>

    <div>
      All comments
      <div>
        <% for (var i=0;i<singlequery.comment.length;i++){%>

          <%=singlequery.comment[i].text %><br />

            <%}%>
      </div>
    </div>


    <form id="myForm">

      <div class="form-group" style="margin-top: 10px;">
        <label for="comment">Add a comment:</label>
        <textarea class="form-control" rows="3" name="textarea"></textarea>
      </div>
      <button type="submit">SUBMIT</button>
    </form>
  </div>
  </div>
  </div>
  <script>
    const myForm = document.getElementById("myForm")
    myForm.addEventListener("submit", async function (e) {
      e.preventDefault()
      const formData = new FormData(this);
      console.log(formData.get("textarea"))
      try {
        const requestOptions = {
          Credentials: 'include',
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            text: formData.get("textarea")
          })
        }
        const response = await fetch(`/addcomments?id=${localStorage.getItem("question")}`, requestOptions);
        console.log("responseaddcomments", response)

        if (response.status == 200) {
          location.reload()
        }
      }
      catch (e) {
        console.log(e)
      }
    })
  </script>
</body>

</html>