<!DOCTYPE html>
<html>
    <head>
        <title>Code Buddy</title>
        <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    </head>
    
<body>
<form>
  <label for="comment">Comment:</label>
  <input type="text" id="comment" name="comment" placeholder="Add your comment here"><br>
  <button type="submit">SUBMIT</button>
</form> 
</body>
</html>