<!DOCTYPE html>
<html>
<head>
	<title>Code Buddy</title>
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
<div id="section-2">
	<p id="infobox">Get all your coding queries resolved here. Exculsively for the students of NMAMIT.</P>

	</div>
	<div id="section-1">
	<div class="form">
		<form action="" method="get">
  <label for="email" class="email">Email:</label>
  <input type="Email" class="email" name="email" placeholder="Enter Email id" required><br>
  <input  class="email" id="submit" type="submit">
	</form>
	</div>
	</div>
	
	

</body>
</html>