<!DOCTYPE html>
<html>
    <head>
        <title>Code Buddy</title>
        <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    </head>
    
<body>
<form>
  <label for="query">Your Query:</label>
  <input type="text" id="newquery" name="query" placeholder="Your query here" required><br>
  <label for="tag">Tag:</label>
  <div class="dropdown">
    <button class="dropbtn">TAGS</button>
    <div class="dropdown-content">
    <a href="#">HTML</a>
    <a href="#">Web Development</a>
    <a href="#">Competitive Coding</a>
    <a href="#">Python</a>
    </div>
  </div>
  <button type="submit">SUBMIT</button>
</form> 
</body>
</html>