<!DOCTYPE html>
<html>

<head>
  <title>Code Buddy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <link rel="stylesheet" type="text/css" href="../css/styles.css" />

  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', event => {

  // Navbar shrink function
  var navbarShrink = function () {
      const navbarCollapsible = document.body.querySelector('#mainNav');
      if (!navbarCollapsible) {
          return;
      }
      if (window.scrollY === 0) {
          navbarCollapsible.classList.remove('navbar-shrink')
      } else {
          navbarCollapsible.classList.add('navbar-shrink')
      }

  };

  // Shrink the navbar 
  navbarShrink();

  // Shrink the navbar when page is scrolled
  document.addEventListener('scroll', navbarShrink);

  // Activate Bootstrap scrollspy on the main nav element
  const mainNav = document.body.querySelector('#mainNav');
  if (mainNav) {
      new bootstrap.ScrollSpy(document.body, {
          target: '#mainNav',
          offset: 72,
      });
  };

  // Collapse responsive navbar when toggler is visible
  const navbarToggler = document.body.querySelector('.navbar-toggler');
  const responsiveNavItems = [].slice.call(
      document.querySelectorAll('#navbarResponsive .nav-link')
  );
  responsiveNavItems.map(function (responsiveNavItem) {
      responsiveNavItem.addEventListener('click', () => {
          if (window.getComputedStyle(navbarToggler).display !== 'none') {
              navbarToggler.click();
          }
      });
  });

});

</script>
</head>

<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">CODE BUDDY</a>
      <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>

          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">Login</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image-->
      <!-- <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />-->
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">Get all your coding queries resolved here. Exculsively for the
        students of NMAMIT.</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <!-- <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>-->
    </div>
  </header>

  <section class="page-section bg-transparent mb-0" id="about">
    <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase">About</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
        <div class="text-center">
          <p class="lead">Code Buddy is like a Stack OverFlow website where students of NMAMIT can get their coding related queries resolved!
            <p class="lead">
              Search for an existing question using the tag and sort or drop a new question. Anyone can resolve your doubt or you can do it for anyone!</p>
          </p>
        </div>
      </div>
      <!-- About Section Button-->
    </div>
  </section>

  <!-- About Section-->

  <!-- Contact Section-->
  <section class="page-section bg-primary text-white" id="contact">
    <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">REGISTER</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * SB Forms Contact Form * *-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- This form is pre-integrated with SB Forms.-->
          <!-- To make this form functional, sign up at-->
          <!-- https://startbootstrap.com/solution/contact-forms-->
          <!-- to get an API token!-->
          <form id="myForm" data-sb-form-api-token="API_TOKEN">
            <div class="form-floating mb-3">
              <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..."
                data-sb-validations="required" />
              <label for="name">Full name</label>
              <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>
            <!-- Email address input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="usn" type="text" placeholder="Enter your usn..."
                data-sb-validations="required" name="usn" />
              <label for="usn">usn</label>
              <div class="invalid-feedback" data-sb-feedback="usn:required">A usn is required.</div>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="email" type="email" placeholder="name@example.com"
                data-sb-validations="required,email" name="email" />
              <label for="email">Email address</label>
              <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
              <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
            </div>
            <!-- Name input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="password" type="password" name="password"
                placeholder="Enter your password..." data-sb-validations="required"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 and at most 20 characters" />
              <label for="password">Password</label>
              <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.
              </div>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="confirmpassword" type="password" name="confirmpassword"
                placeholder="Enter your confirm password..." data-sb-validations="required" />
              <label for="password">Confirm Password</label>
              <div class="invalid-feedback" data-sb-feedback="password:required">A confirm password is required.
              </div>
            </div>

            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <!-- <div class="d-none" id="submitSuccessMessage">
                          <div class="text-center mb-3">
                              <div class="fw-bolder">Form submission successful!</div>
                              To activate this form, sign up at
                              <br />
                              <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                          </div>
                      </div> -->
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <!-- <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div> -->
            <!-- Submit Button-->
            <div id='formmsg'></div>
            <button class="btn btn-primary btn-xl " id="submitButton" type="submit">Send</button>
          </form>

        </div>
      </div>
    </div>
  </section>
  <!-- Footer-->
  <footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location:</h4>
                <p class="lead mb-0">
                    NMAM Institute of Technology
                    <br />
                    Nitte,Karkala
                </p>
            </div>
            <!-- Footer Social Icons-->
<!--<div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                        class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                        class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
            </div>-->
            <!-- Footer About Text-->
            <div class="col-lg-6">
                <h4 class="text-uppercase mb-4">Project By:</h4>
                <p class="lead mb-0">
                    Vaishnavi P Shetty &<br>
                    Vaishnavi Hegde
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Code Buddy 2021</small></div>
</div>


  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <!-- * *                               SB Forms JS                               * *-->
  <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  <!--<body>
  <div id="section-2">
    <p id="infobox">
      Get all your coding queries resolved here. Exculsively for the students of NMAMIT.
    </p>
  </div>
  <div id="section-1">
    <div class="form">
      <form action="" method="get" id="myForm" name="myForm">
        <div>
          <label for="name" class="namelabel">Name:</label>
          <input type="text" class="nameinput" name="name" placeholder="Enter Name" required /><br />
        </div>
        <div>
          <label for="usn" class="usnlabel">USN:</label>
          <input type="text" class="usninput" name="usn" placeholder="Enter USN" required /><br />
        </div>
        <div>
          <label for="email" class="emaillabel">Email:</label>
          <input type="Email" class="emailinput" name="email" placeholder="Enter Email id" required /><br />
        </div>
        <div>
          <label for="password" class="passwordlabel">Password:</label>
          <input type="password" class="passwordinput" name="password" placeholder="Enter password" required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 and at most 20 characters" /><br />
        </div>
        <div>
          <label for="password" class="confirmpasswordlabel">Confirm<br />
            Password:</label>
          <input type="password" class="confirmpasswordinput" name="confirmpassword"
            placeholder="Enter Confirm password" required /><br />
        </div>
        <div class="Sub-link">
          <button class="submit-form" id="submit" type="submit">
            Submit
          </button>
          <button class="linktobutton">
            <a href="/" class="linkto">Login</a>
          </button>
        </div>
      </form>
      <div id="formmsg"></div>
    </div>
  </div>-->
  <script>
    const myForm = document.getElementById("myForm");
    myForm.addEventListener("submit", async function (e) {
      document.getElementById("formmsg").innerHTML = "";
      e.preventDefault();
      const formData = new FormData(this);
      // console.log(formData.get("password"), formData.get("confirmpassword"));
      if (formData.get("password") == formData.get("confirmpassword")) {
        try {
          const requestOptions = {
            Credentials: 'include',
            method: 'POST',
            headers: { 'Content-type': 'application/json' },
            body: JSON.stringify({ email: formData.get("email"), usn: formData.get("usn"), password: formData.get("password"), name: formData.get("name") })
          }
          const response = await fetch(`/register`, requestOptions);
          // console.log("response", response)
          if (response.status == 400)
            document.getElementById("formmsg").innerHTML = "Enter all fields";
          else if(response.status == 404)
          document.getElementById("formmsg").innerHTML = "Account already exists";
          
          if (response.status == 200) {
            location.assign('/')
          }

        }
        catch (e) {
          console.log(e)
        }
        // document.getElementById("formmsg").innerHTML = "";

      }
      else {
        document.getElementById("formmsg").innerHTML = "PASSWORDS DONOT MATCH";
      }

    });
  </script>
</body>

</html>