body{
	background-image: url('../images/code.jpg');
	/* background-image: url('../images/desktop.jpg'); */
	background-repeat: no-repeat;
	background-size: cover;
	
}
.emaillabel,.namelabel,.usnlabel,.passwordlabel,.confirmpasswordlabel{
	float: left;
}
.emailinput,.nameinput,.usninput{
	margin-left: 30px;
}
.emaillabel,.namelabel,.usnlabel,.submit-form,.passwordlabel,.confirmpasswordlabel,
.emailinput,.nameinput,.usninput,.passwordinput,.confirmpasswordinput{
	font-size: 20px;
	/* text-align: center; */
	border-radius: 10px;
	margin-bottom: 20px;
	padding-left: 10px;
}
.linkto{
	text-decoration: none;
    color: black;
}
.linktobutton{
	height: 30px;
	width: 90px;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 20px;
}
.form{
	text-align: center;
	padding-top: 20px;;
	margin-bottom:22%;
	background-color: white;
	margin-left: 30%;
	margin-right: 30%;	
	padding-top: 20px;
}
.Sub-link{
	display: flex;
}
#scroll{
	text-align: center;
	font-size: 20px;
}
#submit:hover{
	background-color: black;
	/* border: 6px inset; */
	color: white;

}
#submit{
	margin-top: 10px;
	margin-bottom: 25px;
}

#infobox{
	padding:50px;
	margin-left: 30%;
	margin-right: 30%;
	margin-top:10px;
	border: 1px solid balck;
	text-align: center;
	width: auto;
	height: auto;
	background-color:black;
	color: white;
	opacity: 80%;
	font-size: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
	width: 100%;
  background-color: rgb(255, 255, 255);
  
}

img {
  width: 25px;
  border-radius: 50px;
  float: right;
}

.edit {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  left: -19 px;
  bottom: -2px;
  overflow: hidden;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.button {
	text-decoration: none;
	float: left;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 25px;
  background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a:hover {
  width: 100px;
}

a:hover .edit{
  opacity: .9;
}

a {
  text-decoration: none;
}

.logout {
	font-size: .8em;
	float:right;
	font-family: 'Oswald', sans-serif;
	  position: relative;
	right: -18px;
	bottom: -4px;
	letter-spacing: 3px;
	background-color: black;
	padding: 12px;
  margin: 15px;
  color: white;
  width:fit-content;
  }
.maincontent{
	padding-top: 18% ;
	padding-left: 15%;
	
	
}
  .dropbtn {
	background-color: #000000;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #969595}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown:hover .dropbtn {
	background-color: #252525;
  }

  .query {
	background-color: #000000;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	max-width: fit-content;
	display: inline-block;
  }
  
  .newquery {
	position: relative;
	display: inline-block;
  }

  input[type=text] {
	width: 130px;
	height: 50px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	
  }
  
  input[type=text]:focus {
	width: 50%;
	height: 30%;
  }